body {
  font-family: Arial, sans-serif;
  text-align: right;
  padding: 20px;
  background-color: #e9e4d4; 
}

h1 {
  color: black;
  text-align: center;
}

label, input, select, button {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  width: 100%;
  max-width: 400px;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0d080a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #494947;
}
img{
 width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}
form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}
input, select, button {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  h1 {
    font-size: 22px;
    text-align: center;
  }

  label {
    font-size: 16px;
  }
}
